<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SchoolConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=School;Data Source=DESKTOP-U3GVCDP\SQL2008R2"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>